.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
}
.offline {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: red;
  top: 0;
  left: 0;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  color: white;
}

.navigation {
  width: 100%;
  margin: 0;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  color: white;
}